.game-section{
    
    .game-field{
        max-width: 700px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        user-select: none;
        &__rows-field {
            width: 100%;
        }
        &__row{
            display: flex;
            height: 40px;
            border: 1px solid gold;

        }
        &__source-words{
            width: 100%;
            border: 1px solid white;
            display: flex;
            margin: 40px auto;
            height: 40px;
            pointer-events: all;
        }
        .source-word{
            position: relative;
            cursor: pointer;
            color: white;
            -webkit-text-stroke: 0.7px black;
            text-shadow: 0px 0px 15px black;
            border: 1px solid wheat;
            font-family: Acme-Regular, serif;
            font-size: 20px;
            line-height: 1.7;
            text-align: center;
            transition: opacity 0.5s ease, box-shadow 0.5s ease;
            touch-action: none;
            background-color: #02315E;
            &--up {
                transition: opacity 0.5s ease, transform 0.5s ease, box-shadow 0.5s ease;
            }

            --after-backgroundImage: none;
            --after-backgroundSize: '0 0';
            --after-backgroundPosition: '0 0';

            &::before {
                z-index: 10;
                content: "";
                box-sizing: border-box;
                position: absolute;
                width: 6px;
                height: 14px;
                left: -1px;
                opacity: 1;
                top: calc(50% - 7px);
                background-color: #0f0d13;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                background-repeat: no-repeat;

            }
            &::after {
                z-index: 11;
                content: "";
                box-sizing: border-box;
                position: absolute;
                width: 7px;
                height: 14px;
                right: calc(0% - 7px);
                top: calc(50% - 7px);
                background-color: #02315E;
                border-top-right-radius: 7px;
                border-bottom-right-radius: 7px;
                background-image: var(--after-backgroundImage);
                background-size: var(--after-backgroundSize);
                background-position: var(--after-backgroundPosition);
            }
            
            
        }


        .first-puzzle::before, .last-puzzle::after{
            display: none;
        }

        

        .paint-true{
            box-shadow: 0px 0px 71px -14px rgba(77, 244, 85, 0.69) inset;
        }
        .paint-wrong{
            box-shadow: 0px 0px 71px -14px rgba(240, 55, 16, 0.69) inset;
        }

        .source-word--selected{
            opacity: 0.4;
        }
        
    }
}




.game-section{
    .game-section-open-background{
        .game-field__row{
            border: 0px solid transparent;
            transition: border-color 1s ease-in-out;
        }
        .game-field__source-words{
            border: 1px solid transparent;
            transition: border-color 1s ease-in-out, border-width 1s ease-in-out;
        }
        .source-word{
            border-color: transparent;
            color: transparent;
            -webkit-text-stroke: 0;
            text-shadow: none;
            transition: border-color 1s ease-in-out, border-width 1s ease-in-out, text-shadow 1s ease-in-out, color 1s ease-in-out, -webkit-text-stroke 1s ease-in-out;
            &::before{
                opacity: 0;
                transition: opacity 1s ease-in-out;
            }

        }
        
    }
}
    
.show-autor{
    width: 100%;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Acme-Regular';
    white-space: pre;
    padding-top: 4px;
}

    
