.game-section{
    
    .game-field{
        border: 1px solid green;
        width: 70%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        &__row{
            display: flex;
            height: 40px;
            border: 1px solid gold;
        }
        &__source-words{
            width: 100%;
            border: 1px solid white;
            display: flex;
            margin: 40px auto;
            height: 40px;
            
        }
        .source-word{
            width: max-content;
            line-height: 30px;
            cursor: pointer;
            color: white;
            border: 1px solid wheat;
            font-size: 20px;
            text-align: center;
            transition: opacity 0.5s ease, transform 0.5s ease;
        }
        .game-button-field{
            display: flex;
            justify-content: center;
            gap: 15px;
            margin-bottom: 40px;
        }
        
    }
}

