
.login_section{
    max-width: 500px;
    padding: 100px;
    margin: 0 auto;
    font-family: "Acme-Regular", sans-serif;
    color: #333;
    .login_title{
        font-size: 28px;
        text-align: center;
    }
    .login_label{
        font-size: 18px;
        color: grey;
    }
    .login_input {
        font-family: inherit;
        font-size: 14px;
        height: 35px;
        text-indent: 17px;
        outline: none;
        border-radius: 0;
        border: 1px solid black;
        &-valid{
            background-image: url('../../../assets/img/validField.png');
            background-repeat: no-repeat;
            background-position: 2px center;
            background-size: 15px;
        }
        &-invalid{
            background-image: url('../../../assets/img/invalidField.png');
            background-repeat: no-repeat;
            background-position: 2px center;
            background-size: 15px;
        }
        
    }
    .login_btn {
        width: max-content;
        margin: 0 auto; 
        font-family: inherit;
        font-size: 20px;
        border: 1px solid green;
        color: black;
        padding: 3px 10px;
        background-color: transparent;
        cursor: pointer;
        transition: all 0.5s ease;
        &:disabled{
            border: 1px solid grey;     
            color: grey;
            cursor: default;
        }
    }
}

.login_form {
    display: flex;
    flex-direction: column;
    gap: 2px;
    .input_span{
        display: block;
        color: red; 
        &:last-of-type{
            margin-bottom: 20px;
        } 
    }

}

