.selection-field{
    width: max-content;
    margin: 0 auto;
    margin-bottom: 20px;
    color: white;
    display: flex;
    gap: 15px;
    font-size: 20px;
    font-family: 'Acme-Regular';
    .level-wrapper, .round-wrapper {
        select{
            width: max-content;
            text-align: center;
            font-size: 18px;
            margin-left: 10px;
            padding: 2px 5px;
            border-radius: 5px;
            cursor: pointer;
            option{
                text-align: center;
            }
        }
    }
}