.section-greeting {
    text-align: center;
    color: white;
    .greeting-title {
        font-family: 'Acme-Regular';
        letter-spacing: 2px;
        font-size: 30px;
    }
    .greeting-description{
        font-family: 'Acme-Regular';
        font-size: 22px;
        letter-spacing: 2px;
    }
    .interaction-block{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-areas: 
        'learn puzzle'
        'learn user'
        'learn start'
        ;
        .greeting-lern-pic {
            height: 500px;
            grid-area: learn;
        }
        .greeting-puzzle-pic{   
            grid-area: puzzle;
            height: 130px;
        }
        .greeting-start-button{
            grid-area: start;
            border: 3px solid rgb(42, 42, 44);
            border-radius: 10px;
            padding: 10px 30px;
            width: max-content;
            height: max-content;
            font-family: 'Acme-Regular';
            font-size: 22px;
            background-color: white;
            color: #1b1b1b;
            transition: all 0.2s linear;
            box-shadow: 0px 0px 28px 8px rgba(249, 251, 253, 0.2);
            @media (hover: hover) {
                &:hover{
                    cursor: pointer;
                    transform: scale(1.1);
                    box-shadow: 0px 0px 28px 8px rgba(249, 251, 253, 0.2);
                }
            }
            
        }

        .user-greeting{
            border: 3px solid rgb(42, 42, 44);
            border-radius: 40px;
            box-shadow: -3px 0px 22px 11px rgba(255,  255,  254, 0.5);
            width: 300px;
            padding: 30px 10px;
            background-color: white;
            color: black;
            font-family: "Acme-Regular";
            letter-spacing: 2px;
            color: rgb(69, 68, 68);
            &__title{
                margin: 0;
                padding: 0;
                font-size: 20px;
            }
            &__span{
                display: block;
                font-size: 29px;
                text-shadow:
                1px 1px white,
                2px 2px #777;
                color: #333;
                padding: 10px 0;
                animation: user 1.5s 1 linear;
                animation-delay: 1s;
                @keyframes user {
                    50% {
                        transform: scale(1.2);
                    }
                }
            }
        }

    }

}