.hints {
    display: flex;
    width: 70%;
    margin: 0 auto;
    font-family: BalsamiqSans-Regular, serif;
    color: white;
    font-size: 20px;
    
    .translation-sentence{
        width: 100%;
        text-align: center;
    }
}