@font-face {
    font-family: 'Acme-Regular';
    src: url('../assets/fonts/Acme-Regular.ttf');
}

@font-face {
    font-family: "BungeeSpice-Regular";
    src: url('../assets/fonts/BungeeSpice-Regular.ttf');
}



