@font-face {
    font-family: 'Acme-Regular';
    src: url(./Acme-Regular.ttf);
}

@font-face {
    font-family: "BungeeSpice-Regular";
    src: url(./BungeeSpice-Regular.ttf);
}


@font-face {
    font-family: 'Risque';
    src: url(./A.Risque.Alen_.Rus_.ttf);
}

@font-face {
    font-family: 'Home Video Regular';
    src: url('./HomeVideo-Regular.otf');
}

@font-face {
    font-family: 'Home Video Bold';
    src: url('./HomeVideo-Bold.otf');
}